table{
    margin: 150px;
    padding: 30px;
    background-color: #5f5f5f;
    font-family: 'Arial';
    color: #a9a9a9;
}

table th{
    font-weight: normal;
    font-size: 20px;
    text-align: left;
    color: #a9a9a9;
}

td{
    padding: 8px;
}

.Property{
    font-style: italic;
    color: #fff;
    padding-right: 20px;
}

a{
    color: #ddcf88;
    text-decoration: none;
}

#userStatus{
    font-size: 40px;
    color: #008800;
}

#typeofSupport{
    color: #ff0000;
   font-weight: bold;
}

#status{
    font-weight: bolder;
    color: #ff8c00;
}